AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
FOURVENUES_API_KEY=
FOURVENUES_BASE_URL=https://channels-service.fourvenues.com
XCEED_API_KEY=
XCEED_WIDGET_KEY=
SYNC_SECRET=
CRON_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
